/*Normalize*/
// @import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");

// Import libraries


// Import your files
@import 'global/vars';
@import 'global/mixins';
@import 'global/typefaces';
@import 'global/default';
@import 'global/grid';

@import 'modules/_instructions';
@import 'modules/_artwork';

@import 'views/_index';