//- img(class="tester" src="img/cover.jpg" alt="")

section.artwork-container
	header.artist-logo
		.img-wrap.fourth-wrap.top
			img(src='img/artist-logo-alpha.png' alt="Sub Focus & Wilkinson logo")
		.img-wrap.third-wrap.top
			img(src='img/artist-logo-alpha.png' alt="Sub Focus & Wilkinson logo")
		.img-wrap.second-wrap.top
			img(src='img/artist-logo-alpha.png' alt="Sub Focus & Wilkinson logo")
		
		.img-wrap.main-wrap
			img(src='img/artist-logo-alpha.png' alt="Sub Focus & Wilkinson logo")

		.img-wrap.second-wrap.bottom
			img(src='img/artist-logo-alpha.png' alt="Sub Focus & Wilkinson logo")
		.img-wrap.third-wrap.bottom
			img(src='img/artist-logo-alpha.png' alt="Sub Focus & Wilkinson logo")
		.img-wrap.fourth-wrap.bottom
			img(src='img/artist-logo-alpha.png' alt="Sub Focus & Wilkinson logo")


		//- picture
			source(srcset='')
			img(src="img/artist-logo.jpg" alt="")

	figure.artwork-img
		picture
			source(srcset='')
			img(src="img/portals-artwork-tiny.jpg" alt="")
		
		#canvas-container
			//- canvas
		
		picture.mask
			source(srcset='')
			img(src="img/portals-artwork-mask.png" alt="")


	
	footer.album-title
		h2._title.title-container
			span._mask
				span._wrap(data-intro="left") 	P
			span._mask
				span._wrap(data-intro="top") 	O
			span._mask
				span._wrap(data-intro="bottom") R
			span._mask
				span._wrap(data-intro="left") 	T
			span._mask
				span._wrap(data-intro="top") 	A
			span._mask
				span._wrap(data-intro="right") 	L
			span._mask
				span._wrap(data-intro="bottom") S




