section#instructions
	.inner-wrap
		figure._icon
			img(src="" alt="Headphones icon")

		h1._title Portals
		h2._subtitle Web Visualiser

		p._body The following experience is a celebration of the new album released by Sub Focus & Wilkinson, please use your headphones for a better experience.

		div._legals
			p._ownership All rights from the music and artwork you're about to experience are property of Sub Focus & Wilkinson and EMI Music. Reactive visuals created by Andrew Alva.