section#instructions
	.inner-wrap
		figure._logo
			img(src='img/artist-logo-alpha.png' alt="Sub Focus & Wilkinson logo")

		.title-wrap
			h1._title Portals
			h2._subtitle Web Visualiser

		p._body 
			|The following experience is a celebration of the new album released by 
			span._artist Sub Focus & Wilkinson
			|, please use headphones for a better experience.

		figure._icon
			img(src="" alt="Headphones icon")

		._cta
			button._btn
				span._label Enter


	.legals
		p._ownership
			|All rights from the music and artwork are property of 
			a.link(target="_blank" href="https://open.spotify.com/album/6SC0Omssa5QQtX22zlZGEG")
				span._artist Sub Focus & Wilkinson 
			|and 
			a.link(target="_blank" href="https://www.universalmusic.com/label/emi/") EMI Music
			|.