#instructions{
	z-index: 1;
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	// text-transform: uppercase;
	border: 1px solid red;

	.inner-wrap{
		position: relative;
		width: 90%;
		padding: 15px;
		top: -20px;
		// border: 1px solid #fff;

		@media (min-width: 576px) {
			width: 500px;
			padding: 30px;
		}
		
		@media (min-width: 768px) {
			top: 0;
			width: 700px;
		}
	}

	._logo{
		position: absolute;
		margin: auto;
		left: 0; right: 0;
		top: -20px;
		width: 250px;
		padding: 10px;
		background-color: #000;

		img{
			position: relative;
			width: 100%;
			vertical-align: top;
		}
	}

	.title-wrap{
		position: relative;
		width: 100%;
		margin-bottom: 25px;

		@media (min-width: 768px) {
			margin-bottom: 50px;
		}
	}

	._title{
		position: relative;
		font-family: 'Traviata', serif;
		font-size: 50px;
		font-weight: 300;
		text-transform: uppercase;
		// color: red;

		@media (min-width: 768px) {
			font-size: 60px;
		}
	}

	._subtitle{
		position: relative;
		margin-top: 10px;
		font-size: 18px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: .3em;
	}

	._body{
		position: relative;
		font-size: 16px;
		font-weight: 200;
		line-height: 1.5em;
	}

	._icon{
		display: inline-block;
		position: relative;
		margin: 0 auto;
		width: 50px;
		height: 50px;
		margin-top: 20px;
		border-radius: 50%;
		border: 1px solid #fff;

		@media (min-width: 768px) {
			width: 80px;
			height: 80px;
		}
	}

	._cta{
		display: block;

		._btn{
			cursor: pointer;
			position: relative;
			margin-top: 30px;
			padding: 10px 50px 8px;
			border-radius: 50px;
			border: 1px solid #fff;
			font-family: 'Traviata', serif;
			font-size: 20px;
			// text-transform: uppercase;
			color: #fff;
			background-color: #000;
			overflow: hidden;
			@include transitions-ease(.5s);

			&:before{
				content: '';
				display: block;
				position: absolute;
				top: 50%; left: 50%;
				transform: translate3d(-50%, -50%, 0) scale(0);
				width: 200px;
				height: 200px;
				border-radius: 50%;
				background-color: #fff;
				@include transitions-ease(1.2s);
			}

			&:hover{
				letter-spacing: .25em;
				
				&:before{
					// border-radius: 0%;
					transform: translate3d(-50%, -50%, 0) scale(1);
				}
			}

			._label{
				position: relative;
				mix-blend-mode: difference;
			}
		}
	}

	._artist{
		text-transform: uppercase;
	}

	a{
		color: inherit;
		text-decoration: underline;
	}


	.legals{
		position: absolute;
		bottom: 20px;
		margin-top: 20px;
		padding-left: 30px;
		padding-right: 30px;
		font-size: 12px;
		font-weight: 100;
		line-height: 1.5em;
		text-transform: uppercase;

		@media (min-width: 768px) {
			margin-top: 50px;
		}
	}
}





